body {
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
	background: #6c698d;
}

.jumbotron {
	background: linear-gradient(
		rgba(108, 105, 141, 0.35),
		rgba(108, 105, 141, 0.35)
		),
		url(https://images.unsplash.com/photo-1437419764061-2473afe69fc2?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=76fba3bdb1e04cb26a02000be2fe7740);
	background-size: cover;
	height: 275px;
	margin-bottom: 0px;
}

.jumbotron h1, h2 {
	color: #c5f4e0;
	text-align: center;
}

.jumbotron h2 {
	font-size: 3em;
}

#project-main {
	max-width: 100%;
}

.project-image {
	text-align: center;
}

.project-title {
	text-align: center;
}

#top-row {
	max-width: 100%;
	display: flex;
}

.project {
	max-width: calc((100% - 30px) / 3);
}

img {
	max-width: 300px;
	max-height: 300px;
}

.heading {
	text-align: center;
	background-color: #c5f4e0;
	color: #6c698d;
}

.heading h3 {
	margin-top: 0px;
}

p, .project-title {
	color: #e6efe9;
}

.project a:link {
	color: #e6efe9;	
}

.project a:visited {
	 
}